form {
    background-color: lightblue;
    background-image: url(./jaroslaw-slodkiewicz-SDIIfq6nhFU-unsplash.jpg);
   background-position: 0%;
    background-size: cover;
}



footer {
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    color: black;
    margin: 20px;
  };

  .marketimg{
    width: 50%;
  }

  .carousel-control-next-icon {
    background-color: lightblue !important;
 }
   .carousel-control-prev-icon {
    background-color: lightblue !important;
 }
